body {
    padding: 20px;  /* padding from top of page */
    font-family: "Whitney", Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

p {   /* text paragraph with description */
    font-size: 16px;
}

#subtitle1, #subtitle2 {  /* chart titles */
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#legend {
    height: 100%;
    float: right;
    font-size: 14px;
    fill: #000;
}

#legend_square {
    width: 20px;
    height: 20px;

}

footer {font-size: small;margin-top: 8em;clear:both;}

form {  /* "Student ID" text */
    font-size: 16px;
}

#studentIdInput {
    font-size: 12px;
    text-align: right;
    width: 5.75ch;
    height: 1.75em
}

/* Chart Styling */
.chart {
    font-family: "Whitney", Helvetica, sans-serif;
    font-size: 14px;
}

.chart path {
    fill: none;
}

/* Circles and Spokes */
.chart circle.outer { /* outermost circle */
    stroke: #ddd;
    /*stroke-dasharray: 4, 4;*/
    stroke-width: 0.8;
}

.chart .tick-circles circle { /* inner circles */
    /*stroke: #ddd;
      stroke-dasharray: 4, 4; /* 1st number = stroke length, 2nd number = gap length */
}

.chart .spokes line { /* pizza slices */
    stroke: #ccc;
    stroke-width: 0.4;
}

/* Axis */
.chart .axis text { /* number text on y-axis */
    font-size: 11px;
}
.chart .axis path { /* y-axis itself with numbers */
    stroke: #000;
    shape-rendering: crispEdges;
}
.chart .axis line { /* y-axis tick marks */
    stroke: #000;
    shape-rendering: crispEdges;
}
.chart .labels text { /* pizza slice labels, or tactic names */
    fill: #000;
    font-size: 11px;
    font-weight: 800;
}

/* Is this necessary? */
#self_relative, #third_relative {
    width: 40%; height: 100%;
}

/* Media query to bump charts underneath each other */
@media screen and (max-width: 1100px) {
    #self_relative, #third_relative {
        float: none;
        width: 100%;
    }
    #third_relative {
        margin-top: 50px;
    }
}