@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}

body {
  font-family: $font-family;
  @media print {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media print {
  .page {
    width: 6.8in;
    height: 10in;
    margin: 0.5in 0.8in;
    &:last-of-type {
      margin: 0.5in 0.8in 0 0.8in;
    }
  }
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  a {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: mediumpurple;
      background-color: #f9f8fb;
    }
    @media print {
      display: none;
    }
  }
}

.header-name {
  margin: 0;
}

.chart-info {
  width: 100%;
  height: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media print {
    justify-content: space-between;
  }
  @media screen and (min-width: $break) {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.chart-title {
  justify-self: center;
  text-align: start;
  width: 75%;
  @media screen and (min-width: $break) {
    text-align: center;
    width: 34%;
  }
}

.color-legend {
  width: 33%;
  min-width: 160px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20%;
    width: 100%;
    p {
      font-weight: normal;
      font-size: 16px;
    }
    .legend-square {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      &.hard {
        background-color: #ff7f7f
      }
      &.soft {
        background-color: #9999ff
      }
      &.smart {
        background-color: #abf9b4
      }
    }
  }

}

.legend {
  float: right;
  font-size: 14px;
  .legend-square {
    width: 20px;
    height: 20px;
  }
}

footer {
  font-size: small;
  margin-top: 8em;
  clear:both;
  @media print {
    display: none;
  }
}

.selected-student {
  font-size: 16px;
  @media print {
    display: none;
  }
  #userIdInput {
    font-size: 12px;
    text-align: right;
    width: 5.75ch;
    height: 1.75em;
    @media print {
      display: none;
    }
  }
  label {
    padding: 5px;
  }
}

/*Chart Layout*/
.chart-holder {
  @media print {
    flex-direction: row;
    h2 {
      font-size: 18px;
      margin: 0;
      padding: 10px;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $break) {
    flex-direction: row;
    justify-content: space-around;
  }
  .self, .third {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @media screen and (min-width: $break) {
        width: 40%;
    }
    @media print {
      width: 100%;
    }
    h3.chart-title {
      text-align: center;
      font-weight: bold;
      @media print {
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
    }
  }
  .self {
    .chart-info {
      justify-content: flex-end;
      .chart-title {
        width: 34%;
      }
      .color-legend {
        display: flex;
      }
    }
    @media screen and (min-width: $break) {
      margin-top: 0;
      align-items: flex-end;
      .chart-info {
        .chart-title {
          width: 100%;
        }
        .color-legend {
          display: none;
        }
      }
    }
    @media print {
      margin-top: 0;
      .chart-info {
        .chart-title {
          width: 75%;
        }
        .color-legend {
          display: flex;
        }
      }
    }
  }
  .third {
    margin-top: 50px;
    .chart-info {
      .color-legend {
        display: none;
      }
    }
    @media screen and (min-width: $break) {
      margin-top: 0;
      align-items: flex-start;
      .chart-info {
        .color-legend {
          display: flex;
        }
      }
    }
    @media print {
      margin-top: 0;
      .chart-info {
        width: 100%;
        .color-legend {
          display: flex;
        }
      }
    }
  }
  p.chart-description {
    font-style: italic;
    font-size: 12px;
    font-weight: lighter;
  }
}

/* Chart Styling */
.chart {
  path {
    fill: none;
  }
  circle.outer { /* outermost circle */
    stroke: #ddd;
    stroke-width: 0.8;
  }
  .spokes line { /* pizza slices */
    stroke: #ccc;
    stroke-width: 0.4;
  }
  .axis {
    text { /* number text on y-axis */
      font-size: 11px;
    }
    path { /* y-axis itself with numbers */
      stroke: #000;
      shape-rendering: crispEdges;
    }
    line { /* y-axis tick marks */
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
  .labels text { /* pizza slice labels, or tactic names */
    fill: #000;
    font-size: 11px;
    font-weight: 800;
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  opacity: 0.4;
  font-size: 16px;
}

.description-holder{
  width: 100%;
  clear: both;
  p {
    font-size: 16px;
  }
}

.type-toggle{
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  button {
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: mediumpurple;
    }
  }
  button:first-of-type {
    border-right: 1px solid black;
  }
}

.button-clicked {
  color: red;
  font-weight: bold;
}

.percentile-options {
  fieldset {
    width: 300px;
  }
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div {
      padding: 10px;
    }
    .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.hidden {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.active {
  transition: opacity 1s ease-out;
  opacity: 1;
}

.purple {
  color: mediumpurple;
}

/* Free-response questions */
.open-ended-response-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h2 {
    padding: 0;
    width: 70%;
    margin: 10px;
    text-align: center;
  }
  .open-ended-responses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    h4 {
      width: 30%;
      min-width: 200px;
    }
    ul {
      list-style-type: none;
      margin: 10px;
      padding: 0;
      width: 60%;
    }
    li {
      border-bottom: 1px solid #ccc;
      display: block;
      width: 100%;
      padding: 10px;
      &:last-child {
        border: none;
      }
    }
  }
}